{
  "tabWidth": 2,
  "printWidth": 80,
  "semi": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "trailingComma": "all",
  "bracketSpacing": true,
  "singleQuote": true,
  "jsxSingleQuote": true,

  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/styles/(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": false
}
