// Colors

$white: #fff;
$grey: #a1a1aa;
$dark-grey: #414144;
$dark: #202124;
$red: #ff3939;

// Colors map
$colors: (
  white: $white,
  grey: $grey,
  dark-grey: $dark-grey,
  dark: $dark,
  red: $red,
);

// Breakpoints

$breakpoints: (
  mobile: 31.25rem,
  tablet: 48rem,
  laptop: 60rem,
  desktop: 80rem,
);

// Sizes
$header-height: 2.75rem;
$sidebar-width: 14.625rem;
