@import '@/styles/mixins';

.container {
  flex: 1;
  height: 100%;
}

.header {
  height: 44px;
  border-bottom: 0.0625rem solid var(--color-dark-grey);
}

.scrollContainer {
  min-height: calc(100vh - 88px);
}

.tabs {
  display: flex;
  height: 100%;
}

.tab {
  height: 100%;
}

.tabButton {
  @include truncate;

  padding: 0.6875rem 0.9375rem;
  font-size: 18px;
  border-right: 0.0625rem solid var(--color-dark-grey);
}

.table {
  overflow: auto;
  height: calc(100vh - 5.5rem);
  padding-inline: 10px;

  & thead th {
    position: sticky;
    z-index: 100;
    top: 0;
  }
}
