@import '@/styles/mixins';

.container {
  @include flex-align-center;

  gap: 1.875rem;
  height: 2.75rem;
  padding-inline: 1.25rem;
  border-bottom: 1px solid var(--color-dark-grey);
}

.buttons {
  @include flex-align-center;

  gap: 1.25rem;
}

.nav {
  height: 100%;

  &List {
    @include flex-align-center;

    gap: 1.75rem;
    height: 100%;
  }

  &Item {
    @include flex-center;

    position: relative;
    height: 100%;
    color: var(--color-grey);

    &Active {
      pointer-events: none;
      color: var(--color-white);

      &::before {
        content: '';

        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 2px;

        background-color: var(--color-white);
      }
    }
  }

  &Link {
    cursor: pointer;
    color: inherit;
    transition: filter 0.3s ease;

    &:hover {
      filter: opacity(70%);
    }
  }
}
