@import '@/styles/mixins';

.container {
  width: 14.625rem;
  height: 100%;
  background-color: var(--color-dark);
  border-right: 0.0625rem solid var(--color-dark-grey);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 44px;
  padding: 8px;
  padding-left: 20px;

  color: var(--color-grey);

  border-bottom: 0.0625rem solid var(--color-dark-grey);

  &Abbreviation {
    font-size: 10px;
    line-height: 12px;
  }
}

.arrow {
  transition: transform 0.1s ease;

  &Rotate {
    transform: rotate(180deg);
  }
}

.itemButton {
  @include flex-align-center;

  gap: 14px;

  width: 100%;
  padding: 0.5rem;
  padding-left: 20px;

  transition: background-color 0.3s ease;

  &Active {
    background-color: var(--color-grey);
  }
}
