@import '@/styles/mixins';

$line-size: 1px;

.cell {
  overflow: hidden !important;

  height: 0 !important;
  padding-block: 0 !important;

  border-bottom: none !important;
  box-shadow: inset 0 1px 0 var(--color-dark-grey);
}

.container {
  position: relative;
  height: 3.75rem;
}

.line {
  background-color: var(--color-white);

  &Container {
    position: absolute;
    inset: 0;
  }

  &Vertical {
    width: $line-size;
  }

  &Horizontal {
    height: $line-size;
  }
}

.relation {
  &Parent {
    .lineVertical {
      position: absolute;
      left: 0;
      height: 50%;
    }

    .lineHorizontal {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 1rem;
    }
  }

  &Sibling {
    .lineVertical {
      height: 100%;
    }
  }

  &Child {
    .lineVertical {
      position: absolute;
      bottom: 0;
      height: 50%;
    }
  }
}

.button {
  @include flex-center;

  flex: 1;
  width: 24px;
  height: 24px;

  &Delete {
    visibility: hidden;
    opacity: 0;
  }
}

.iconBackground {
  @include flex-center;

  width: 16px;
  height: 16px;

  &Create {
    background-color: var(--color-dark);
  }
}

.buttons {
  @include flex-align-center;

  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  gap: 0.5rem;

  width: 54px;
  height: 28px;

  border-radius: 6px;

  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--color-dark-grey);

    .buttonDelete {
      visibility: visible;
      opacity: 1;
    }
  }

  &Disabled {
    pointer-events: none;
    filter: opacity(80%);
  }
}
